{​​​​​​​​% for names in vault_bashrc_mod %}​​​​​​​​
    {​​​​​​​​% for item in vault_bashrc_mod %}alias {{ item.name }}="eval $(vault kv get -field=data -format=json {{ item.secret_engine }}/{{ item.secret_name }} | jq -r 'keys[] as $k | "export \($k)=\(.[$k])"'){% if not loop.last %} && {% endif %}{​​​​​​​​% endfor %}
{​​​​​​​​% endfor %}