{% for name, paths in vault_bashrc_mod.items() %}
alias {{ name }}="{% for engine, secrets in paths.items() %}{% for secret in secrets %}eval $(vault kv get -field=data -format=json {{ engine }}/{{ secret }} | jq -r 'keys[] as $k | "export \($k)=\(.[$k])"'){% if not loop.last %} && {% endif %}{% endfor %}{% if not loop.last %} && {% endif %}{% endfor %}"
{% endfor %}