{
{% include './templates/' + "sb_" + 'vault_storage_backend' %}
  },
  "listener": {
    "tcp":{
      "address": "0.0.0.0:8200",
      "tls_disable": 0,
      "proxy_protocol_behaviour": "use_always",
      "tls_cert_file": "/etc/certificate/{{ cert_crt_name }}",
      "tls_key_file": "/etc/certificate/{{ cert_key_name }}"
    }
  },
  "ui": true,
  "log_level": "Debug"
}