{
   "backend":{
      "raft":{
         "path":"/vault/raft",
{% for host in groups['member'] %}
         "retry_join":{
            "leader_api_addr":"https://{{ hostvars[host]['ansible_fqdn'] }}:8201",
            "leader_ca_cert_file":"/etc/certificate/{{ ansible_ca.crt }}",
            "leader_client_cert_file":"/etc/certificate/{{ cert_crt_name }}",
            "leader_client_key_file":"/etc/certificate/{{ cert_key_name }}"
         }{{ ", " if not loop.last else "" }}
{% endfor %}
      }
   },
   "cluster_addr":"https://{{ hostvars[groups['member'][0]].ansible_fqdn }}:8200",
   "api_addr":"https://{{ hostvars[groups['member'][0]].ansible_fqdn }}:8201"
   },
   "listener":{
      "tcp":{
         "address":"0.0.0.0:8200",
         "tls_disable":0,
         "proxy_protocol_behaviour":"use_always",
         "tls_cert_file":"/etc/certificate/{{ cert_crt_name }}",
         "tls_key_file":"/etc/certificate/{{ cert_key_name }}"
      }
   },
   "ui":true,
   "log_level":"Debug"
}