{
    "data": {
        {​​​​​​​​% for vault_kv_write_data in vault_kv_write_data %}​​​​​​​​ 	
        "{{ vault_kv_write_data.key }}": "{​​​​​​​​{​​​​​​​​ vault_kv_write_data.value }​​​​​​​​}​​​​​​​​"{{ "," if not loop.last else "" }}
        {​​​​​​​​% endfor %}​​​​​​​​ 
    },
    "options": {}
}