{
    "data": {
        {​​​​​​​​% for item in helm_parameter %}​​​​​​​​ 	
        "{{ item.key }}": "{​​​​​​​​{​​​​​​​​ item.value }​​​​​​​​}​​​​​​​​"{% if not loop.last %}, 
        {​​​​​​​​% endfor %}​​​​​​​​ 
    },
    "options": {}
}


