{
   "backend":{
      "raft":{
         "path":"/vault/raft",
         "node_id":"node{{ 999 | random }}",
{% for inventory_hostname in groups['member'] %}
         "retry_join":{
            "leader_tls_servername":"{{ hostvars[groups['leader']]['ansible_hostname'] }}",
            "leader_api_addr":"{{ hostvars[groups['leader']]['ansible_fqdn'] }}",
            "leader_ca_cert_file":"/path/to/ca",
            "leader_client_cert_file":"/etc/certificate/{{ ansible_hostname }}",
            "leader_client_key_file":"/etc/certificate/{{ ansible_hostname }}"
         }{{ ", " if not loop.last else "" }}
{% endfor %}
      }
   },
   "cluster_addr":"https://{{ vault_raft_cluster_addr }}",
   "api_addr":"https://{{ ansible_fqdn }}",
   "replication":{
      "resolver_discover_servers":true,
      "logshipper_buffer_length":1000,
      "logshipper_buffer_size":"5gb",
      "allow_forwarding_via_header":false,
      "best_effort_wal_wait_duration":"2s"
   },
   "listener":{
      "tcp":{
         "address":"0.0.0.0:8200",
         "tls_disable":0,
         "proxy_protocol_behaviour":"use_always",
         "tls_cert_file":"/etc/certificate/{{ cert_crt_name }}",
         "tls_key_file":"/etc/certificate/{{ cert_key_name }}"
      }
   },
   "ui":true,
   "log_level":"Debug"
}