{
    "data": {
        {​​​​​​​​% for item in vault_kv_write_data %}​​​​​​​​ 	
        "{{ item.key }}": "{​​​​​​​​{​​​​​​​​ item.value }​​​​​​​​}​​​​​​​​"{% if not loop.last %},{​​​​​​​​% endfor %}​​​​​​​​
        {​​​​​​​​% endfor %}​​​​​​​​ 
    },
    "options": {}
}


