ui = true
log_level = "Debug"
cluster_addr = "https://{{ hostvars[groups['member'][0]].ansible_fqdn }}:8200"
api_addr = "https://{{ hostvars[groups['member'][0]].ansible_fqdn }}:8201"
listener "tcp" {
  tls_disable = 0
  address = "[::]:8200"
  tls_cert_file = "/etc/certificate/{{ cert_crt_name }}"
  tls_key_file = "/etc/certificate/{{ cert_key_name }}"
}
storage "raft" {
  path = "/vault/raft"
{% for host in groups['member'] %}
  retry_join {
    leader_api_addr = "https://{{ hostvars[host]['ansible_fqdn'] }}:8200"
    leader_ca_cert_file = "/etc/certificate/{{ ansible_ca.crt }}"
    leader_client_cert_file = "/etc/certificate/{{ hostvars[host]['ansible_fqdn'] }}.crt"
    leader_client_key_file = "/etc/certificate/{{ hostvars[host]['ansible_fqdn'] }}.key"
   }
{% endfor %}

}